* {
  margin: 0;
  padding: 0;
  /* color: white; */
}
.hero {
  width: 100%;
  height: 100vh;
  background: url(./assets/Poster.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  /* position: relative; */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  margin: auto;
  padding: 10px 0;
  height: 80px;
}
.moviebox {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}
.movietext {
  color: #fff;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.navinput {
  display: flex;
  align-items: center;
  position: relative;
}
.movieinput {
  display: flex;
  width: 525px;
  padding: 6px 10px;
  height: 20px;
  justify-content: space-between;
  background: none;
  align-items: center;
  border-radius: 6px;
  color: white;
  border: 2px solid var(--gray-300, #d1d5db);
}
.movieinput::placeholder {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-align: left;
}
.search {
  position: absolute;
  right: 8px;
  color: white;
}
.moviemenu {
  width: 114px;
  height: 36px;
  top: 22px;
  left: 1228px;
  gap: 27px;
  display: inline-flex;
  align-items: center;
}
.signIn {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: white;
}
.heroAside {
  /* position: absolute; */
  width: 324px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-right: 80px;
  margin: 130px 0 0 100px;
}
.John {
  font-family: DM Sans;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  color: white;
}
.asiderow2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  display: flex;
  gap: 10px;
}
.rating {
  display: flex;
  gap: 50px;
}
.asidetext {
  color: white;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}
.asidebtn {
  width: 150px;
  height: 30px;
  background-color: #be123c;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.playspan {
  font-size: 12px;
  color: white;
  font-weight: 700;
}
.card {
  width: 230px;
  height: 400px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.cardImg {
  height: 320px;
  width: inherit;
}
/* Main components */
.main {
  width: 90%;
  margin: 20px auto;
}
.mainTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.more {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #be123c;
  margin: 30px 0;
}
.greater {
  font-size: 10px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.ratingDetails {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  margin: 150px auto 50px;
}
.social {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.termOfUse {
  display: flex;
  justify-content: space-between;
}
.copyright {
  display: flex;
  justify-content: center;
}
.right {
  text-decoration: none;
  color: rgb(123, 122, 122);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
}
.fa {
  font-size: 20px;
}

/* movie page css */
/* Nav Bar */
.movienav {
  width: 250px;
  background-color: white;
  box-shadow: 2px 2px 5px #aeaaaa40;
  height: 100vh;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 30px;
  overflow: hidden;
  gap: 30px;
}
.bar {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.navItem {
  display: flex;
  gap: 30px;
  align-items: center;
  text-decoration: none;
  /* margin-top: 60px;
    margin-bottom: 80px; */
  /* margin-left: 30px; */
}
.ni {
  margin-top: 20px;
}
.movie {
  color: rgb(156, 2, 2);
  font-weight: 900;
  font-size: 22px;
}
.game {
  width: 100px;
  line-height: 20px;
  border: 1px solid rgba(157, 25, 25, 0.811);
  padding: 20px 25px 20px 10px;
  border-radius: 15px;
}
.start {
  background-color: rgb(194, 190, 190);
  padding: 5px;
  color: rgba(157, 25, 25, 0.811);
  border: none;
  border-radius: 5px;
  /* margin-top: 10px; */
}
.display {
  width: 100%;
  background-color: white;
  height: 100vh;
  padding: 10px;
  /* gap: 40px; */
}
.movieMain {
  display: flex;
  gap: 15px;
}
.displayImg {
  width: 78vw;
  height: 50vh;
  border-radius: 10px;
  margin-bottom: 18px;
}
.info {
  display: flex;
}
.d-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 58vw;
}
.titleItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  display: flex;
  gap: 50px;
}
.crew{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name{
  color: #be123c;
}
.d-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gens {
  border: 1px solid rgb(203, 200, 200);
  background-color: white;
  border-radius: 10px;
  padding: 2px 12px;
  font-size: 12px;
  color: #be123c;
}
.favTop {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.favShow {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.show {
  background-color: #be123c;
  height: 40px;
  border: none;
  border-radius: 6px;
  color: white;
}
.ratedBtn{
  display: flex;
}
.rated{
  padding: 8px 15px;
}
.award{
  border: 1px solid rgba(128, 128, 128, 0.414);
  width: 42vw;
  border-radius: 5px;
}
.btnMore {
  background-color: #be123d34;
  height: 40px;
  border: none;
  border-radius: 6px;
}
.rec {
  width: 280px;
  height: 150px;
}
.arrContain {
  position: relative;
  height: 150px;
}
.tray {
  background-color: #12121254;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  height: 30px;
  position: absolute;
  bottom: 0;
}
.tray > span {
  font-size: 13px;
  color: rgb(237, 236, 236);
}
button, Link{
  cursor: pointer;
}